<nav class="navbar navbar-dark bg-dark">
  <!-- This is the application title with a link to the root -->
  <a class="navbar-brand" routerLinkActive="active" routerLink="/"
    >SEM <i class="fas fa-car"></i
  ></a>
  <!-- This is a spacer so the links move to the end -->
  <div class="mr-auto"></div>
  <!-- This main navigation links are defined here -->
  <div class="navbar-expand">
    <div class="navbar-nav">
      <!-- Each link has the routerLink property set to a different route -->
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">
        {{ "button.home" | translate }}
      </a>
      <a
        class="nav-item nav-link"
        *ngIf="!isLogged"
        routerLinkActive="active"
        routerLink="/registrarse"
      >
        {{ "button.register" | translate }}
      </a>
      <a
        class="nav-item nav-link"
        *ngIf="!isLogged"
        routerLinkActive="active"
        routerLink="/login"
      >
        {{ "button.login" | translate }}
      </a>

      <a
        class="nav-item nav-link"
        *ngIf="isLogged"
        routerLinkActive="active"
        routerLink="/estacionamiento"
      >
        {{ "button.manageParking" | translate }}
      </a>
      <a
        class="nav-item nav-link"
        *ngIf="isLogged"
        routerLinkActive="active"
        routerLink="/cuentaCorriente"
      >
        {{ "button.account" | translate }}
      </a>
      <a
        class="nav-item nav-link"
        *ngIf="isLogged"
        routerLinkActive="active"
        (click)="onLogOut()"
        type="reset"
      >
        {{ "button.logout" | translate }}
      </a>
    </div>
  </div>
</nav>
