<!--Si el saldo es 0 entonces muestra el form de cargarSaldo
sino muestra una tabla con el saldo disponible y la opcion editar-->


<div class="col-md-8  offset-md-2">
  <h4> Mis Datos:</h4>
  <div class="card mb-3 ">
    
<table class="table ">
    <thead class="thead-light " >
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Correo</th>
        <th scope="col">Saldo Disponible</th>
      </tr>
    </thead>
    <tbody >
        <tr>
      <td>{{usuario?.telefono}}</td>
      <td>{{usuario?.mail}}</td>
      <td>
        {{usuario?.cuentaCorriente?.saldo}} <a class="btn btn-success ml-2" [routerLink]="['/editarCuenta', usuario?.id ]" >Cargar </a>
      </td>
         
      </tr>
    </tbody>
  </table>
  </div>
</div>
