<!--Si el saldo es 0 entonces muestra el form de cargarSaldo
sino muestra una tabla con el saldo disponible y la opcion editar-->


<div class="col-md-7  offset-md-2" style="padding-top:2em;">
  
  <div class="card mb-3 ">
    <div class="card-header">
      Mis Datos
      <div style="float:right">
       <strong>Saldo: {{usuario?.cuentaCorriente?.saldo}}</strong> 
       <a class="btn btn-success ml-2" [routerLink]="['/editarCuenta', usuario?.id ]" >Cargar </a>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Usuario</h5>
      <p class="card-text">{{usuario?.telefono}}</p>
      <h5 class="card-title">Correo</h5>
      <p class="card-text">{{usuario?.mail}}</p>
    </div>
     
  </div>
</div>
