<div class="container py-5">
  <div class="jumbotron">
    <h1 class="text-secondary">
      <div *ngIf="isLogged">
        <h2>Bienvenido a SEM {{ username }}!</h2>
      </div>
      <div *ngIf="!isLogged"><h2>SEM!</h2></div>
    </h1>
    <p>
      La nueva app de SEM, te permitirá continuar usando el estacionamiento
      medido en La Plata como siempre pero con una mejor experiencia de usuario.
    </p>
    <hr />
    <div *ngIf="isLogged" class="row g-2">
      <button class="btn btn-secondary ml-2" routerLink="/cuentaCorriente">
        Cuenta <i class="fas fa-user"></i>
      </button>
      <br />
      <button class="btn btn-primary ml-2" routerLink="/estacionamiento">
        Gestionar Estacionamiento <i class="fas fa-cog"></i>
      </button>
    </div>
  </div>
</div>
