<!--faltan todas las rutas del crud de patente por eso te redige al login-->

<div class="form-group" style="padding-top:0.2em;">

  <a class="btn btn-primary "  routerLink="/agregarPatente">Agregar Patente</a> 
  
</div>
<h3>Listado de patentes:
  <div style="float:right" > 
    <button class="btn btn-dark ml-2" (click)="verificarEstacionamiento('')" 
    [disabled]="!inicioEstacionamiento ">Finalizar Estacionamiento
  </button>
    
  </div>
</h3>
<h6 >Saldo Disponible: {{saldo}} <a class="btn btn-info ml-2" [routerLink]="['/editarCuenta', usuario?.id ]" >Cargar </a></h6> 
  
<div *ngIf="patentes.length > 0">

<table class="table ">
  
    <thead class="thead-light " >
      <tr>
        <th scope="col">Patente</th>
        <th scope="col">Estacionamiento</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let patente of patentes | paginate: {
      itemsPerPage: 3,
      currentPage: page,
      totalItems: totalLength }"
      >
        
      <td>{{patente.patente}}</td>
      <td>
        <button [disabled]="this.inicioEstacionamiento" class="btn btn-success ml-2" (click)="verificarEstacionamiento(patente.patente)">
          Iniciar 
        </button>
      </td>
        <td>
          <a class="btn btn-warning ml-2" [routerLink]="['/editar', patente.id ]">Editar</a>
          <a class="btn btn-danger ml-2" (click)="eliminar(patente)">Eliminar</a>
        </td>
         
      </tr>
    </tbody>
  </table>
  
  <pagination-controls  previousLabel="Anterior"
  nextLabel="Siguiente" (pageChange)="page = $event"></pagination-controls>
</div>
<div *ngIf="patentes.length == 0">
 <div class="card mb-3 ">
  <div class="card-body">
    <h5 class="card-title">No se encuentran patentes registradas</h5>
    <p class="card-text">Por favor, registre una patente para administrar su estacionamiento.</p>
    
  </div>
   
</div>
</div>
