<h3>Lista de patentes asociadas:</h3>
<!--faltan todas las rutas del crud de patente por eso te redige al login-->
<div class="form-group">

  <a class="btn btn-primary "  routerLink="/agregarPatente">Agregar Patente</a> 

  <button class="btn btn-dark ml-2" (click)="detener()" 
    [disabled]="!inicioEstacionamiento ">Detener
  </button>
  <div style="float:right"> 
    <h6>Saldo Disponible: {{saldo}}</h6> 
   
  </div>
  
</div>

<table class="table ">
    <thead class="thead-light " >
      <tr>
        <th scope="col">Patente</th>
        <th scope="col">Iniciar Estacionamiento</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let patente of patentes | paginate: {
      itemsPerPage: 3,
      currentPage: page,
      totalItems: totalLength }"
      >
        
      <td>{{patente.patente}}</td>
      <td>
        <button [disabled]="this.inicioEstacionamiento" class="btn btn-success ml-2" (click)="iniciar(patente)">
          Iniciar
        </button>
      </td>
        <td>
          <a class="btn btn-warning ml-2" [routerLink]="['/editar', patente.id ]">Editar</a>
          <a class="btn btn-danger ml-2"  (click)="eliminar(patente.id)">Eliminar</a>
        </td>
         
      </tr>
    </tbody>
  </table>
  
  <pagination-controls  previousLabel="Anterior"
  nextLabel="Siguiente" (pageChange)="page = $event"></pagination-controls>
