<div style="margin-left: 0.5rem">
  <h3>
    <i class="fas fa-list"></i> {{ "manageParking.title" | translate }}:
    <div style="float: right">
      <a class="btn btn-primary" routerLink="/agregarPatente">
        {{ "button.addPatent" | translate }} <i class="fas fa-plus"></i
      ></a>
    </div>
  </h3>

  <strong>Saldo:</strong>${{ balance }}
  <a class="btn btn-primary ml-2" [routerLink]="['/editarCuenta', userId]"
    >{{ "button.addBalance" | translate }} <i class="fas fa-dollar-sign"></i>
  </a>
</div>
<div *ngIf="patents.length > 0">
  <div class="d-flex justify-content-between ml-2">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">{{ "manageParking.patent" | translate }}</th>
          <th scope="col">{{ "manageParking.parking" | translate }}</th>
          <th scope="col">{{ "manageParking.actions" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let patent of patents
              | paginate
                : {
                    itemsPerPage: 5,
                    currentPage: page,
                    totalItems: length
                  }
          "
        >
          <td>{{ patent.patent }}</td>
          <td>
            <button
              [disabled]="this.startedParking"
              class="btn btn-success ml-2"
              (click)="checkParking(patent.patent)"
            >
              {{ "button.start" | translate }}
              <i class="far fa-play-circle"></i>
            </button>
          </td>
          <td>
            <a
              class="btn btn-warning ml-2"
              [routerLink]="['/editar', patent.id]"
            >
              {{ "button.update" | translate }} <i class="far fa-edit"></i
            ></a>
            <a class="btn btn-danger ml-2" (click)="deleteById(patent)">
              {{ "button.delete" | translate }} <i class="far fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div
      *ngIf="startedParking"
      class="card border-danger mb-3"
      style="width: 25rem"
    >
      <div class="card-body">
        <h5 class="card-title">
          {{ "manageParking.startedParking.title" | translate }}:
          <i class="fas fa-exclamation-triangle" style="color: red"></i>
        </h5>
        <hr />
        <p class="card-text">
          <i class="fas fa-arrow-right" style="color: green"></i>
          {{ "manageParking.patent" | translate }}:
          {{ timePrice?.patent }}
          <br />
          <i class="fas fa-stopwatch" style="color: dimgray"></i>
          {{ "manageParking.startedParking.time" | translate }}:
          {{ timePrice?.hours }}:{{ timePrice?.minutes }}
          hs
          <br />
          <i class="far fa-credit-card"></i>
          {{ "manageParking.startedParking.amount" | translate }}: ${{
            timePrice?.price
          }}
        </p>
        <button
          class="btn btn-dark ml-2"
          (click)="checkParking('')"
          [disabled]="!startedParking"
        >
          {{ "button.endParking" | translate }}
          <i class="fas fa-pause" style="color: red"></i>
        </button>
        <hr />
        <div style="color: grey">
          {{ "manageParking.startedParking.important.title" | translate }}:
          <br />
          {{ "manageParking.startedParking.important.text" | translate }}
          {{ timePrice.patent }}
        </div>
      </div>
    </div>
  </div>

  <pagination-controls
    previousLabel="Anterior"
    nextLabel="Siguiente"
    (pageChange)="page = $event"
  ></pagination-controls>
</div>
<div *ngIf="patents.length == 0">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">
        {{ "manageParking.noPatentList.title" | translate }}
      </h5>
      <p class="card-text">
        {{ "manageParking.noPatentList.text" | translate }}
      </p>
    </div>
  </div>
</div>
