<div class="d-flex flex-column h-100 justify-content-center mb-4">
  <div class="container">
    <div class="row">
      <!-- This is a single column that is responsive -->
      <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header card text-white bg-primary mb-3">
            {{ "form.title.register" | translate }}
          </div>
          <div class="card-body">
            <!-- The formGroup 'form' is defined in the component class -->
            <form #quizForm="ngForm">
              <div class="form-group">
                <label for="mail">{{ "form.mail.title" | translate }}</label>
                <!-- The formControlName defines the name of the field in the formGroup -->
                <input
                  name="mail"
                  [(ngModel)]="user.mail"
                  type="email"
                  class="form-control"
                  placeholder="{{ 'form.mail.placeholder' | translate }}"
                  required
                />
              </div>
              <div class="form-group">
                <label for="username">{{
                  "form.username.title" | translate
                }}</label>
                <!-- The formControlName defines the name of the field in the formGroup -->
                <input
                  name="username"
                  [(ngModel)]="user.username"
                  class="form-control"
                  placeholder="{{ 'form.username.placeholder' | translate }}"
                  required
                />
              </div>
              <div class="form-group">
                <label for="telefono">{{
                  "form.phone.title" | translate
                }}</label>
                <!-- The formControlName defines the name of the field in the formGroup -->
                <input
                  name="phone"
                  [(ngModel)]="user.phone"
                  class="form-control"
                  placeholder="{{ 'form.phone.placeholder' | translate }}"
                  required
                />
              </div>
              <div class="form-group">
                <label for="password">{{
                  "form.password.title" | translate
                }}</label>
                <input
                  name="password"
                  [(ngModel)]="user.password"
                  type="password"
                  class="form-control"
                  placeholder="{{ 'form.password.placeholder' | translate }}"
                  required
                />
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="form-group">
              <div class="d-flex justify-content-between ml-2">
                <div></div>
                <!-- The button has a click handler, it will be disabled if the form is not valid -->
                <button
                  (click)="create()"
                  type="submit"
                  [disabled]="!quizForm.form.valid"
                  class="btn btn-success"
                >
                  {{ "button.register" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
