<div class="col-md-8 offset-md-2" style="padding-top: 2em">
  <div class="card mb-3">
    <div class="card-header">
      <i class="far fa-address-card"></i> {{ "account.title" | translate }}
      <a class="btn btn-primary ml-2" routerLink="/historial"
        >{{ "button.history" | translate }} <i class="fas fa-history"></i
      ></a>
      <div style="float: right">
        <strong
          >{{ "addBalance.balance" | translate }}: ${{
            account?.balance
          }}</strong
        >
        <a
          class="btn btn-success ml-2"
          [routerLink]="['/editarCuenta', user?.id]"
        >
          {{ "button.addBalance" | translate }}
          <i class="fas fa-dollar-sign"></i
        ></a>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        {{ "account.user" | translate }} <i class="far fa-user"></i>
      </h5>
      <p class="card-text">{{ user?.phone }}</p>
      <h5 class="card-title">
        {{ "account.mail" | translate }} <i class="far fa-envelope"></i>
      </h5>
      <p class="card-text">{{ user?.mail }}</p>
      <h5 class="card-title">
        {{ "account.accountNumber" | translate }} <i class="fas fa-id-card"></i>
      </h5>
      <p class="card-text">{{ account?.phone }}</p>
    </div>
  </div>
</div>
