<div class="d-flex flex-column h-100 justify-content-center mb-4">
  <div class="container">
    <div class="row">
      <!-- This is a single column that is responsive -->
      <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header card text-white bg-primary mb-3">
            {{ "patent.title.update" | translate }}
          </div>
          <div class="card-body">
            <!-- The formGroup 'form' is defined in the component class -->
            <form #quizForm="ngForm">
              <div class="form-group">
                <label for="patente">{{ "patent.patent" | translate }}</label>
                <!-- The formControlName defines the name of the field in the formGroup -->
                <input
                  name="patent"
                  [(ngModel)]="numberPatent"
                  class="form-control"
                  required
                />
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between ml-2">
              <!-- The button has a click handler, it will be disabled if the form is not valid -->
              <a
                class="btn btn-secondary"
                routerLink="/estacionamiento"
                type="submit"
              >
                {{ "button.cancel" | translate }}
              </a>
              <button
                (click)="update()"
                type="submit"
                [disabled]="!quizForm.form.valid"
                class="btn btn-success ml-2"
              >
                {{ "button.update" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
